<div id="MainShop">
   <h3>  {% trans from  'shop' %} ours {% endtrans %} </h3>
    <hr>
    <div class="row">
        <div class="col col-md-4">
            <div class="card shop-item">
                <img class="card-img-top" src="{{ asset('dist/drink/bordeaux.jpg') }}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title category </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  button">{% trans from  'shop' %} visit {% endtrans %}</a>
                </div>
            </div>
        </div>
        <div class="col  col-md-4">
            <div class="card shop-item">
                <img class="card-img-top" src="{{ asset('dist/drink/burgundy.jpg') }}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title category </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  button">{% trans from  'shop' %} visit {% endtrans %}</a>
                </div>
            </div>
        </div>
        <div class="col  col-md-4">
            <div class="card shop-item">
                <img class="card-img-top" src="{{ asset('dist/drink/x1001.jpg') }}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title category </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  button">{% trans from  'shop' %} visit {% endtrans %}</a>
                </div>
            </div>
        </div>
        <div class="col  col-md-4">
            <div class="card shop-item">
                <img class="card-img-top" src="{{ asset('dist/drink/x1026.jpg') }}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title category </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  button">{% trans from  'shop' %} visit {% endtrans %}</a>
                </div>
            </div>
        </div>
        <div class="col  col-md-4">
            <div class="card shop-item">
                <img class="card-img-top" src="{{ asset('dist/drink/x1023.jpg') }}" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title">Card title category </h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn  button">{% trans from  'shop' %} visit {% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
